In [2]:
import pandas as pd
import numpy as np

NOTE: This assignment is adapted from: https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb

1. Given a list of states = ['VA', 'MD', 'NY', 'NJ', 'TX'] and arbitrarary census data = list(range(10)), construct a MultiIndex object from the product of the two lists. Use it to index a ``Series`` of random numbers. Call this Series s.

**Note you will have multiply indexed series with state name as the 1st level of index and census data (0 to 9) as the 2nd level index**

In [3]:
states = ['VA', 'MD', 'NY', 'NJ', 'TX'] 
census_data = list(range(10))

In [4]:
print([(range(10))])

[range(0, 10)]

In [5]:
idx = pd.MultiIndex.from_product([states,census_data])

In [6]:
idx

MultiIndex([('VA', 0),
            ('VA', 1),
            ('VA', 2),
            ('VA', 3),
            ('VA', 4),
            ('VA', 5),
            ('VA', 6),
            ('VA', 7),
            ('VA', 8),
            ('VA', 9),
            ('MD', 0),
            ('MD', 1),
            ('MD', 2),
            ('MD', 3),
            ('MD', 4),
            ('MD', 5),
            ('MD', 6),
            ('MD', 7),
            ('MD', 8),
            ('MD', 9),
            ('NY', 0),
            ('NY', 1),
            ('NY', 2),
            ('NY', 3),
            ('NY', 4),
            ('NY', 5),
            ('NY', 6),
            ('NY', 7),
            ('NY', 8),
            ('NY', 9),
            ('NJ', 0),
            ('NJ', 1),
            ('NJ', 2),
            ('NJ', 3),
            ('NJ', 4),
            ('NJ', 5),
            ('NJ', 6),
            ('NJ', 7),
            ('NJ', 8),
            ('NJ', 9),
            ('TX', 0),
            ('TX', 1),
            ('TX', 2),
            ('TX', 3),
            ('TX', 4),
            ('TX', 5),
            ('TX', 6),
            ('TX', 7),
            ('TX', 8),
            ('TX', 9)],
           )

In [7]:
s = pd.Series(np.random.rand(50), index=idx)
s.index.names = ['states', 'census_data']

In [8]:
s

states  census_data
VA      0              0.319820
        1              0.059553
        2              0.348858
        3              0.605063
        4              0.159991
        5              0.649780
        6              0.750688
        7              0.334231
        8              0.139600
        9              0.512875
MD      0              0.680739
        1              0.812097
        2              0.047935
        3              0.060000
        4              0.987395
        5              0.598277
        6              0.888713
        7              0.392956
        8              0.722681
        9              0.296465
NY      0              0.523071
        1              0.802465
        2              0.940535
        3              0.992856
        4              0.250233
        5              0.150345
        6              0.864836
        7              0.566309
        8              0.235924
        9              0.817388
NJ      0              0.250820
        1              0.132675
        2              0.420251
        3              0.280361
        4              0.006761
        5              0.617936
        6              0.505290
        7              0.074817
        8              0.483883
        9              0.057345
TX      0              0.355646
        1              0.010145
        2              0.422393
        3              0.247591
        4              0.061275
        5              0.511792
        6              0.679135
        7              0.560256
        8              0.768894
        9              0.339553
dtype: float64

2. Check whether the index of s is lexicographically sorted. If not, apply sorting to ensure that you can use index slicing.

In [9]:
df=s.sort_index()
df

states  census_data
MD      0              0.680739
        1              0.812097
        2              0.047935
        3              0.060000
        4              0.987395
        5              0.598277
        6              0.888713
        7              0.392956
        8              0.722681
        9              0.296465
NJ      0              0.250820
        1              0.132675
        2              0.420251
        3              0.280361
        4              0.006761
        5              0.617936
        6              0.505290
        7              0.074817
        8              0.483883
        9              0.057345
NY      0              0.523071
        1              0.802465
        2              0.940535
        3              0.992856
        4              0.250233
        5              0.150345
        6              0.864836
        7              0.566309
        8              0.235924
        9              0.817388
TX      0              0.355646
        1              0.010145
        2              0.422393
        3              0.247591
        4              0.061275
        5              0.511792
        6              0.679135
        7              0.560256
        8              0.768894
        9              0.339553
VA      0              0.319820
        1              0.059553
        2              0.348858
        3              0.605063
        4              0.159991
        5              0.649780
        6              0.750688
        7              0.334231
        8              0.139600
        9              0.512875
dtype: float64

3. Select the labels 1, 3 and 6 from the second level of the MultiIndexed ``Series``.

In [10]:
s.loc[:,[1,3,6]]

states  census_data
VA      1              0.059553
        3              0.605063
        6              0.750688
MD      1              0.812097
        3              0.060000
        6              0.888713
NY      1              0.802465
        3              0.992856
        6              0.864836
NJ      1              0.132675
        3              0.280361
        6              0.505290
TX      1              0.010145
        3              0.247591
        6              0.679135
dtype: float64

4. Slice the ``DataFrame`` df; slice up to 4th state of the first level and from label 8 onwards for the second level.

In [11]:
df1.loc[slice(None, 'TX'), slice(8, None)]

NameError: name 'df1' is not defined

 5. Sum the values in s for each label in the first level (you should have Series giving you a total for labels 'VA', 'MD', 'NY', 'NJ' and 'TX').

In [64]:
s.sum(level=0)

states
VA    6.260260
MD    3.952969
NY    5.735083
NJ    4.856743
TX    5.454764
dtype: float64

6. Using unstack, create a ``DataFrame`` from s. States index will become new columns.

In [65]:
df=s.unstack()
df

census_data,0,1,2,3,4,5,6,7,8,9
states,,,,,,,,,,
MD,0.004736,0.225534,0.122955,0.144170,0.832277,0.007586,0.765477,0.865452,0.535275,0.449506
NJ,0.882239,0.477858,0.576666,0.216333,0.297818,0.665780,0.127950,0.503850,0.901952,0.206297
NY,0.669725,0.324777,0.892692,0.139505,0.852372,0.265436,0.572674,0.977931,0.346269,0.693702
TX,0.147391,0.688484,0.126208,0.020539,0.323900,0.918788,0.956073,0.795782,0.868681,0.608918
VA,0.588654,0.605746,0.081478,0.813184,0.898041,0.372915,0.752910,0.299773,0.975025,0.872534