# Data 690 Week 14 HW
For the following exercises, we will be using Baltimore City [Open Data](https://data.baltimorecity.gov/).

### 1. Create a `DataFrame` named 'neighbor_crime'.
Do this by pulling in data from this URL: https://data.baltimorecity.gov/api/views/2nh2-stru/rows.csv?accessType=DOWNLOAD

For the preview of the data set, refer to this page: https://data.baltimorecity.gov/Crime/Crimes-By-Neighborhood/2nh2-stru

In [40]:
import pandas as pd

In [41]:
neighbor_crime = pd.read_csv('https://opendata.arcgis.com/datasets/3eeb0a2cbae94b3e8549a8193717a9e1_0.csv')

In [42]:
neighbor_crime.head()

,X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents
0,-76.6227,39.2974,1,2021/05/05 14:04:00+00,9S,700 N PACA ST,SHOOTING,Outside,FIREARM,125,CENTRAL,SETON HILL,39.2974,-76.6227,"(39.2974,-76.6227)",STREET,NaN,1
1,-76.5977,39.2306,2,2021/05/05 15:43:00+00,3B,1000 JACK PL,ROBBERY - STREET,NaN,NaN,913,SOUTHERN,BROOKLYN,39.2306,-76.5977,"(39.2306,-76.5977)",NaN,NaN,1
2,-76.6561,39.2790,3,2021/05/05 22:22:18+00,9S,2600 WILKENS AVE,SHOOTING,Outside,FIREARM,834,SOUTHWEST,MILLHILL,39.2790,-76.6561,"(39.279,-76.6561)",STREET,NaN,1
3,-76.6596,39.2965,4,2021/05/05 20:45:08+00,9S,800 BRADDISH AVE,SHOOTING,Outside,FIREARM,721,WESTERN,MOSHER,39.2965,-76.6596,"(39.2965,-76.6596)",STREET,NaN,1
4,-76.6561,39.2790,5,2021/05/05 22:22:18+00,9S,2600 WILKENS AVE,SHOOTING,Outside,FIREARM,834,SOUTHWEST,MILLHILL,39.2790,-76.6561,"(39.279,-76.6561)",STREET,NaN,1

In [43]:
neighbor_crime.shape

(335155, 18)

### 2. Do the manual pivoting of the data by
  1. Grouping the data by 'Description and District'
  2. Selecting 'Neighborhood'
  3. Aggregating the data using count
  4. `unstack()` the table

In [44]:
neighbor_crime.groupby(['Description','District'])['Neighborhood'].aggregate('count').unstack()

District,CENTRAL,EASTERN,NORTHEAST,NORTHERN,NORTHWEST,SOUTHEAST,SOUTHERN,SOUTHWEST,WESTERN
Description,,,,,,,,,
AGG. ASSAULT,3893,4341,5236,3188,3752,4200,4429,4801,4357
ARSON,80,144,256,111,198,101,186,202,124
AUTO THEFT,1989,2144,5430,2921,3843,3146,3235,3670,2938
BURGLARY,3563,3578,7913,6077,5214,6056,5689,5261,3407
COMMON ASSAULT,6986,6224,8109,4941,5197,7239,6057,6855,5425
HOMICIDE,135,328,284,166,306,151,232,339,369
LARCENY,10449,5543,9942,9348,7051,11603,8549,6941,4844
LARCENY FROM AUTO,6089,3238,6227,5620,3667,8547,4482,3156,1989
RAPE,276,238,308,243,239,253,278,256,210
ROBBERY - CARJACKING,279,182,424,355,464,336,353,380,336
ROBBERY - COMMERCIAL,804,431,898,782,633,824,618,528,307
ROBBERY - RESIDENCE,252,314,673,351,391,373,472,419,318
ROBBERY - STREET,3338,1873,3408,2506,2010,4029,2419,1765,1588
SHOOTING,356,722,509,328,535,312,526,678,779

### 3. Using Pandas `pivot_table()` method, produce the same outcome as above (using manual groupby)

In [45]:
neighbor_crime.pivot_table('Neighborhood',columns = 'District', index = 'Description',aggfunc='count')

District,CENTRAL,EASTERN,NORTHEAST,NORTHERN,NORTHWEST,SOUTHEAST,SOUTHERN,SOUTHWEST,WESTERN
Description,,,,,,,,,
AGG. ASSAULT,3893,4341,5236,3188,3752,4200,4429,4801,4357
ARSON,80,144,256,111,198,101,186,202,124
AUTO THEFT,1989,2144,5430,2921,3843,3146,3235,3670,2938
BURGLARY,3563,3578,7913,6077,5214,6056,5689,5261,3407
COMMON ASSAULT,6986,6224,8109,4941,5197,7239,6057,6855,5425
HOMICIDE,135,328,284,166,306,151,232,339,369
LARCENY,10449,5543,9942,9348,7051,11603,8549,6941,4844
LARCENY FROM AUTO,6089,3238,6227,5620,3667,8547,4482,3156,1989
RAPE,276,238,308,243,239,253,278,256,210
ROBBERY - CARJACKING,279,182,424,355,464,336,353,380,336
ROBBERY - COMMERCIAL,804,431,898,782,633,824,618,528,307
ROBBERY - RESIDENCE,252,314,673,351,391,373,472,419,318
ROBBERY - STREET,3338,1873,3408,2506,2010,4029,2419,1765,1588
SHOOTING,356,722,509,328,535,312,526,678,779

### 4. Using 'CrimeDate' column, create a DatetimeIndex
Hint: 
- You will use one of the methods described in 'Pandas Time Series Data Structures' section. 
- You will have to specify the values of the `Series` as the input. See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.values.html

In [46]:
dates = pd.DatetimeIndex(neighbor_crime.CrimeDateTime)

In [47]:
dates

DatetimeIndex(['2021-05-05 14:04:00+00:00', '2021-05-05 15:43:00+00:00',
               '2021-05-05 22:22:18+00:00', '2021-05-05 20:45:08+00:00',
               '2021-05-05 22:22:18+00:00', '2021-05-05 21:30:45+00:00',
               '2021-05-05 00:43:00+00:00', '2021-05-05 19:30:00+00:00',
               '2021-05-05 16:30:00+00:00', '2021-05-05 16:05:00+00:00',
               ...
               '1979-01-01 00:01:00+00:00', '1978-01-01 10:30:00+00:00',
               '1978-01-01 00:00:00+00:00', '1978-01-01 00:00:00+00:00',
               '1977-05-01 00:01:00+00:00', '1975-06-01 00:00:00+00:00',
               '1973-07-01 23:00:00+00:00', '1970-06-15 00:01:00+00:00',
               '1969-07-20 21:00:00+00:00', '1963-10-30 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='CrimeDateTime', length=335155, freq=None)